[submodule "src/bookmatch.web.store"]
	path = src/bookmatch.web.store
	url = git@github.com:bookmatch/bookmatch.web.store.git
[submodule "src/bookmatch.books"]
	path = src/bookmatch.books
	url = git@github.com:bookmatch/bookmatch.books.git
